GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_OAUTH_LOOPBACK_PORT=53682
GMAIL_REDIRECT_URI=http://127.0.0.1:53682/callback
GMAIL_SENDER_EMAIL=
GMAIL_SENDER_NAME=
GMAIL_BCC_AUDIT=
GMAIL_DRAFT_ONLY=false
