DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_OPERATOR_ROLE_ID=
DISCORD_OPERATOR_USER_IDS=
DISCORD_COMMANDS_CHANNEL_ID=
DISCORD_VOICE_COMMANDS_CHANNEL_ID=
DISCORD_PARSED_TASKS_CHANNEL_ID=
DISCORD_TASK_QUEUE_CHANNEL_ID=
DISCORD_APPROVALS_CHANNEL_ID=
DISCORD_ALERTS_CHANNEL_ID=
DISCORD_DAILY_SUMMARY_CHANNEL_ID=
DISCORD_ORCHESTRATOR_CHANNEL_ID=
DISCORD_AGENT_RESULTS_CHANNEL_ID=
DISCORD_MEMORY_UPDATES_CHANNEL_ID=
DISCORD_SYSTEM_LOGS_CHANNEL_ID=
DISCORD_AGENT_LOGS_CHANNEL_ID=
DISCORD_SECURITY_LOGS_CHANNEL_ID=
TRANSCRIPTION_PROVIDER=local
WHISPER_MODEL=medium
TRANSCRIPTION_PYTHON_BIN=
RUNTIME_TMP_DIR=
RUNTIME_LOG_DIR=
METRICS_EVENTS_PATH=
